extends layout.jade
block body
    include ./header.jade
        .row
            .col-sm-6.col-sm-6-custom
                form.form-inline.col-sm-6-custom-home-mor(action='/getCurrency',method='post')
                            h3.form-signin-heading Currency Converter
                            br
                            .con-label-input
                                select.currency.form-control#currFrom(name='currFrom')
                                    option(value="") Select Country : 
                                    - var options = myCus
                                    each option in options
                                        option(value=option.value, selected=(mood==option.value))= option.label
                            br
                            br
                            .con-label-input
                                label Convert to :
                            br
                            .con-label-input
                                select.currency.form-control#currTo(name='currTo')
                                    option(value="") Select Country : 
                                    - var options = myCus
                                    each option in options
                                        option(value=option.value, selected=(mood==option.value))= option.label
                            br
            .col-sm-6.col-sm-6-custom
                form.form-inline.col-sm-6-custom-home-mor
                    h1#results 