script(type='text/javascript')
script(src='app/public/js/main.js')
.container
    ul.nav.navbar-right
        li.containerLogos
            .social-icons
                a.facebook(href="https://www.facebook.com/")
                a.twitter(href="#")
                a.youtube(href="#")
                a.flickr(href="#")
                a.google(href="#")
                a.yahoo(href="#")
.container
    .navbar.navbar-default
        .container-fluid
            .navbar-header
                a.navbar-brand#home(href="/")
                    img.img-responsive2(src="/app/public/images/logos/home-ico.png")
                .navbar-toggle.collapsed(data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
            .collapse.navbar-collapse#navbar
                ul.nav.navbar-nav
                    li
                        a.active#mortgageLoan(href="/mortgage") Mortgage Loan
                    li.dropdown 
                        a#carLoan(href="/carLoan") Car Loan
                    li
                        a#personalLoan(href="/currency") Currency Converter
                    li
                        a#weather(href="/weather") Weather

                ul.nav.navbar-nav.navbar-right
                    li
                        a#contactUs(href="contact") Contact Us
    block header