doctype html
html
  head
    title Home
    link(rel='stylesheet', href='node_modules/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='node_modules/bootstrap/dist/css/bootstrap-theme.min.css')
    link(rel='stylesheet', href='app/public/styles/main.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js')
    script(src='node_modules/jquery/dist/jquery.min.js')
    script(src='node_modules/bootstrap/dist/js/bootstrap.min.js')
    script(src='app/public/js/contactMap.js')
block body
        script(type='text/javascript')
        script(src='app/public/js/main.js')
        .container
            ul.nav.navbar-right
                li.containerLogos
                    .social-icons
                        a.facebook(href="https://www.facebook.com/")
                        a.twitter(href="#")
                        a.youtube(href="#")
                        a.flickr(href="#")
                        a.google(href="#")
                        a.yahoo(href="#")
        .container
            .navbar.navbar-default
                .container-fluid
                    .navbar-header
                        a.navbar-brand(href="/")
                            img.img-responsive2(src="/app/public/images/logos/home-ico.png")
                        .navbar-toggle.collapsed(data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
                            span.sr-only Toggle navigation
                            span.icon-bar
                            span.icon-bar
                            span.icon-bar
                    .collapse.navbar-collapse#navbar
                        ul.nav.navbar-nav
                            li
                                a.active(href="/") Mortgage Loan
                            li.dropdown 
                                a(href="#") Car Loan
                            li
                                a(href="#") Personal Loan
                            li
                                a(href="/weather") Weather
                            
                        ul.nav.navbar-nav.navbar-right
                            li
                                a(href="contact") Contact Us
            block header