extends layout.jade
block body
    include ./header.jade
        .container
            .jumbotron
                a.btn.btn-lg(href='/') Go Back
                br
                h2 Monthly Tnstallment is $ #{monthlyInst}
                h2 Bi-Monthly Tnstallment is $ #{biMonthlyInst}