extends layout.jade
block body
    include ./header.jade
        .jumbotron
            .container
                form.form-signin(action='/employees',method='get')
                    h2.form-signin-heading Welcome
                    br
                    button.btn.btn-lg.btn-primary.btn-block#signOut(type="submit") Sign Out
                    script(src='node_modules/jquery/dist/jquery.min.js')
                    script(src='node_modules/bootstrap/dist/js/bootstrap.min.js')