extends layout.jade
block header
    .row
        .col-sm-6.col-sm-6-custom
            form.form-inline.col-sm-6-custom-home-mor(action='/weatherData',method='post')
                        h3.form-signin-heading Weather Forcast
                        br
                        //.con-label-input
                          //  label(for='loanTerm') Country : 
                            //select.form-control#loanTerm(name='country', disabled='disabled')
                              //  option(value='', selected='selected') United States
                        br
                        .con-label-input
                            label(for='loanTerm') Please select City : 
                            select.form-control#loanTerm(name='city',autofocus='autofocus')
                                //option(value='', selected='selected') Select City
                                option Los Angeles   
                                option San Francisco
                                option Fremont
                                option Texas
                                option New York
                                option Boston
                                option New Delhi
                        br
                        br
                        .btn-custom-home-mor-holder
                            button.btn.btn-lg.btn-primary.btn-block(type='submit') Submit