label(for='loanTerm') Country : 
select.cutomSelectWeather.form-control#loanTerm(name="country")
    option(value="") Select Country : 
    - var options = [{value: 'UnitedStates',label:'United States'}, {value: 'Canada',label: 'Canada'}]
    each option in options
      option(value=option.value, selected=(mood==option.value))= option.label