label(for='loanTerm') Country : 
select.cutomSelectWeather.form-control#loanTerm(name='city',autofocus='autofocus')
        option(value='', selected='selected') Select Country
        option Los Angeles   
        option San Francisco
        option Fremont
        option Texas
        option New York
        option Boston