label(for='loanTerm') City : 
select.cutomSelectWeather.form-control#loanTerm(name='city',autofocus='autofocus')
        option(value='', selected='selected') Select City
        option Los Angeles   
        option San Francisco
        option Fremont
        option Texas
        option New York
        option Boston